@import url("__date/comics__date.css");
@import url("__image/comics__image.css");
@import url("__title/comics__title.css");
@import url("__transcription/comics__transcription.css");
.comics {
  display: inline-block;
  margin: 80px 0 0 0;
  max-width: 100%;
}